/* Container for the start screen */
.start-screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height to center the content vertically */
    padding: 0 20px; /* Side padding for spacing */
    position: relative; /* Enables absolute positioning for children within this container */
}
  
/* Map container
.map-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 60vh;
    opacity: 0.6; /* Adjust opacity to make the map more transparent 
    z-index: 1; /* Ensure the map is below the button overlay 
}  */

/* Full-screen map background */
.full-screen-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6; /* Adjust opacity for better contrast with overlay */
    z-index: 1;
    /* transform: translateY(-10%); Moves the map 10% higher */

}


@media (min-width: 768px) {
    .map-container {
        height: 500px;
    }
}
  
/* Overlay for button and goal text */
#mapandbutton{
    position: relative;
}
.button-overlay {
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2; /* Higher z-index to appear above the map */
    width: 100%; /* CHANGED: Full width to span the screen */
    /* height: 75%; Cover three-quarters of the map */
    justify-content: center; /* Center the content within the overlay */
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Start button styling */
.start-button {
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 30px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
    display: flex; /* Added for centering */
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
}

@media (min-width: 768px) {
    .start-button {
        font-size: 1.8rem;
        width: 100px;
        height: 100px;
    }
}
/* Goal and Voice styling */
.goal, .voice {
    background-color: #b0b0b0; /* Darker grey background */
    color: #FF5722; /* Orange font color */
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none; /* No underline */
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 10px;
    text-align: center;
    width: 80%; /* Full width across screen */
    box-sizing: border-box; /* Ensures padding does not affect total width */
}

@media (min-width: 768px) {
    .goal, .voice {
        font-size: 1.5rem;
    }
}
